DATABASE_URL="YOUR_DATABASE_URL_HERE"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"

AUTH_SECRET=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_NAME="Администратор"

TELEGRAM_BOT_TOKEN=''
TELEGRAM_CHAT_ID=""
TELEGRAM_ALLOWED_USER_IDS=''

PRODAMUS_MERCHANT_ID=""
PRODAMUS_SECRET_KEY=""
PRODAMUS_API_URL="https://prodamus.ru"
PRODAMUS_SUCCESS_URL="https://starvedas.ru/payment/success"
PRODAMUS_FAIL_URL="http://starvedas.ru/payment/fail"
PRODAMUS_WEBHOOK_SECRET=""
